/*
-----FORMATAÇÃO-----
*/

*{
    margin: 0;
    padding: 0;
}

/*
-----FORMATAÇÃO GENÉRICA-----
*/

body{
   font-family: "Roboto Mono", monospace; 
}

/*
-----CABEÇALHO-----
*/


#header{
    text-align: center;
    border-bottom: 2px outset #FFFFFF;
    background: #FFFFFF;
}

#logo{
    float: left;

    margin-left: 10px;
    margin-top: 10px;
}

.bnt{
    width: 94.23px;
    height: 35px;
    margin: 55px;
    background: #82B6FA;
    border-radius: 20px;
    border-color: #82B6FA;
    font-weight: bolder;
}

.idioma{
    float: right;
    margin-top: 60px;
    padding-right: 10px;

    text-decoration: none;
    color: #000000;
}

#br-en{
    width: 20px;
    background: #FFFFFF;
}

.marge{
    margin-right: 20px;
}

/*
-----CONTÚEDO-----
*/

#conteudo{
    margin-top: 414px;
    margin-left: 600px;
}

.nome{
    margin-bottom: 40px;
    font-size: 30px;
}

.form-esp{
    font-size: 26px;
}

.slogan{
    margin-top: 50px;
    font-size: 20px;
}

.elipse{
    position:absolute;
    z-index: -1;
    margin-left: -100px;
    margin-top: 30px;
}

.elipse2{
    position:absolute;
    z-index: -1;
    margin-top: -60px;
    margin-left: 170px;
}

.elipse3{
    position:absolute;
    z-index: -1;
    margin-top: -60px;
    margin-left: 220px;
}